.container {
    margin: 5%;
    display: flex;
    justify-content: center;
}

.game {
    border: 1px solid black;
    background-color: lightgray;
}

.game .col {
    display: flex;
    flex-direction: column;
}

.game .col .row {
    display: flex;
    flex-direction: row;
}

.game .placar {
    margin: 2%;
    display: flex;
    justify-content: center;
}